@{
    ViewBag.Title = "Contact";
}
<html>
    <head>
    <meta charset="utf-8" />
    </head>
    <body>
    <div id="particles-js"></div>
    <script type="text/javascript" src="/Scripts/particles.js"></script>
    <script type="text/javascript" src="/Scripts/app.js"></script>
    <div class="container-fluid">
        <div class="row">
            <h1>Team members</h1>
            <blockquote>
                Ciaran
            </blockquote>

            <blockquote>
                David
            </blockquote>

            <blockquote>
                Mindaugas
            </blockquote>
        </div>
    </div>
    </body>
</html>





