@{
    ViewBag.Title = "Contact";
}


<!--
<div class="containercontact">
    <div class="rowcontact">

        <div class="col align-self-start">
            Ciaran
        </div>
        <div class="col align-self-center">
            David
        </div>
        <div class="col align-self-end">
            Mindaugas
        </div>
    </div>
</div> -->





<div class="container-fluid">
    <div class="row">



        <h1>Team members</h1>

        <blockquote>
            Ciaran
        </blockquote>

        <blockquote>
            David
        </blockquote>

        <blockquote>
            Mindaugas
        </blockquote>

    </div>

</div>



