@{
   ViewBag.Title = "Home Page";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>PlanIT Home</title>
</head>
<body>
    <div id="particles-js"></div>
        <script type="text/javascript" src="/Scripts/particles.js"></script>
        <script type="text/javascript" src="/Scripts/app.js"></script>
</body>
</html>