@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="/Scripts/particles.js"></script>
<script type="text/javascript" src="/Scripts/app.js"></script>
<script scr="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<html>
<head>
    <meta charset="utf-8" />
    <title>PlanIT Home</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
</head>
<body>
    <div id="particles-js"></div>
    <div class="wrapper">
        <div class="slide slide--bg-img1">
            <p class="line-1 anim-typewriter">Welcome to PlanIt!</p>
            <a class="hax" href="#img1"><span class="glyphicon glyphicon-menu-down"></span></a>
        </div>
        <div class="slide slide--bg-img2" id="img1">
            <div class="col-lg-12 filler"></div>
            <div class="col-lg-2"></div>
            <div class="about col-lg-8">
                <div class="col-lg-2"></div>
                <div class="middle col-lg-8 text-center">
                    <h1>About Us!</h1>
                    <h2>Our goal is Lorem ipsum dolor sit amet,     consectetur adipiscing elit. Curabitur iaculis, quam id fringilla consequat, tortor nisi suscipit leo, interdum consectetur diam nisl sit amet diam. Praesent volutpat tortor vel aliquet sodales.</h2>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-12 filler2"></div>
            </div>
            <a class="hax1" href="#img2"><span class="glyphicon glyphicon-menu-down1"></span></a>
        </div>
        <div class="slide slide--bg-img3" id="img2">
            <div class="col-lg-12 filler"></div>
            <div class="col-lg-2"></div>
            <div class="about col-lg-8">
                <div class="col-lg-2"></div>
                <div class="middle col-lg-8 text-center">
                    <h1>Contacts:</h1>
                    <dl class="row">
                        <dt class="col-sm-3">EMAIL:</dt>
                        <dd class="col-sm-9">ThisIsOur@Email.com</dd>
                        <dt class="col-sm-3 text-truncate">Phone:</dt>
                        <dd class="col-sm-9">083342069</dd>
                        <dt class="col-sm-3">Address</dt>
                        <dd class="col-sm-9">Our Address OmegaLUL Dublin 1</dd>
                    </dl>
                <div class="col-lg-2"></div>
                <div class="col-lg-12 filler2"></div>
            </div>
        </div>
    </div>
</body>
</html>
