@{
   ViewBag.Title = "Login Page";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>PlanIT Login</title>
</head>
<body>
    <table border="0" align="center">
        <tr>
            <td>
                <form name="login" action="" method="post" accept-charset="utf-8">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="yourname@email.com" required value="@Request.Form[" email"]">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                </form>
            </td>
        </tr>
    </table>

</body>
</html>