@{
   ViewBag.Title = "LoginPage";
}
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <script type="text/javascript" src="/Scripts/particles.js"></script>
    <script type="text/javascript" src="/Scripts/app.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table border="0" align="center">
                    <tr>
                        <td>
                            <form name="login" action="serverScript.php" method="post" accept-charset="utf-8">
                                <label for="email">Email</label>

                                <input type="email" name="email" placeholder="Email" required value="@Request.Form[" email"]">
                                
                                <label for="password">Password</label>
                                
                                <input type="password" name="password" placeholder="Password" required>
                                <button id="buttonLogin" onclick="loginScript()">Login</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>