@{
    ViewBag.Title = "LoginPage";
}
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="loginForm">
                <form name="login" action="~/Php/scripting.php" method="post" accept-charset="utf-8">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Email" required>

                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" required>

                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>