@{
    ViewBag.Title = "WebPlanner";
}
<head>


</head>
<body>
    <a>
        client ID
        1075824191731-r45ekiirce7vfv994om4115mrqfq0jrl.apps.googleusercontent.com
    </a>
    <a>
        Client Secret
        -ugKsK_0AorX_WPWxV67gjr-
    </a>
</body>
